# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [54]:
import pandas as pd
import numpy as np
import re

# Load in the data file using `pd.read_csv()`

In [55]:
# Load data here
listings=pd.read_csv(r"data/listings.csv")
display(listings)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46522,44807522,Designer Gramercy Studio Townhouse by UNSQ,12941925,Brian,Manhattan,Gramercy,40.73433,-73.98383,Entire home/apt,145,7,0,NaN,NaN,1,164
46523,44807786,Cozy & comfy apt in the heart of Inwood Manhattan,284790520,Salar,Manhattan,Washington Heights,40.85820,-73.92733,Entire home/apt,87,6,0,NaN,NaN,2,85
46524,44811717,Comfortable safe environment 24hr security camera,362453686,Nicole,Brooklyn,East Flatbush,40.65399,-73.93287,Private room,59,3,0,NaN,NaN,1,90
46525,44814944,Upper West Side studio 86th Street,4039777,Fernando,Manhattan,Upper West Side,40.78731,-73.97029,Entire home/apt,80,30,0,NaN,NaN,1,113
46526,44818009,"5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN",48098268,Marina,Brooklyn,Gravesend,40.59945,-73.98209,Private room,66,1,0,NaN,NaN,1,38

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [56]:
# 1. How many listings are there with a price less than 100? 
pl100=np.where(listings["price"]>100)
len(pl100[0])

22076

In [57]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
df_bk = listings["neighbourhood_group"]=="Brooklyn"
df_bk.shape[0]

46527

In [58]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
bk=np.where((listings["neighbourhood_group"]=="Brooklyn") & (listings["price"]>100))
len(bk[0])

7467

In [59]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
hosts=["Michael", "David", "John", "Daniel"]
host_bool = listings["host_name"].isin(hosts)
display(host_bool.value_counts())

host_srch = np.where(host_bool,)

False    45269
True      1258
Name: host_name, dtype: int64

In [60]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
listings["adjusted_price"] = np.where((listings["neighbourhood"]=="Williamsburg"), listings["price"]+100, listings["price"])

listings["neighborhood_group"]=="Brooklyn"

KeyError: 'neighborhood_group'

In [23]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
listings["room_type"].value_counts(normalize=True)

Entire home/apt    0.515787
Private room       0.454446
Shared room        0.021213
Hotel room         0.008554
Name: room_type, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [32]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
n_g = listings.groupby(by="neighbourhood_group")

KeyError: 'Columns not found: 0'

In [12]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups.

In [13]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups.

In [14]:
# 4. Using `groupby`, find the mean price for each room type in each neighbourhood_group.

In [15]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [16]:
# 1. Load the `prices.csv` and the `n_listings.csv`

In [18]:
# 2. Do join that keeps all the records for each table.

# Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [51]:
#  1. Who was won Album of the Year in 2016?
grammys=pd.read_csv(r"data/grammys.csv")
#display(grammys)

row = np.where((grammys["year"]==2016) & (grammys["category"]=="Album of the Year") & (grammys["winner"]==True))

contributors = grammys["workers"][row[0][0]].split(", ")

artist = contributors[0]

artist_clean = artist.split("(")[0]

print(artist_clean, "won Album of the Year in 2016")

Taylor Swift  won Album of the Year in 2016

In [52]:
# 2. Who won Best Rap Album in 2009?
row = np.where((grammys["year"]==2009) & (grammys["category"]=="Best Rap Album") & (grammys["winner"]==True))

contributors = grammys["workers"][row[0][0]].split(", ")

artist = contributors[0]

artist_clean = artist.split("(")[0]

print(artist_clean, "won Best Rap Album in 2009")

Lil' Wayne won Best Rap Album in 2009

In [69]:
# 3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?
name = "Kendrick Lamar"
noms = np.where(grammys["workers"] == "Kendrick Lamar")

wins = np.where((grammys["workers"]== "Kendrick Lamar") & (grammys["winner"]==True))

print(name+" was nomitated for "+str(len(noms[0]))+" albums, of which he won " + str(len(wins[0])))

Kendrick Lamar was nomitated for 6 albums, of which he won 4

KeyError: 'Henry Mancini'